

.index_background {
/*background-image: url('https://media2.giphy.com/avatars/100soft/WahNEDdlGjRZ.gif');*/
width: auto;
height: auto;
margin-left: auto;
margin-right: auto;
}
#timer {
    top: 0px;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    left: 50px;
    color: pink;
}

/*#title-index {*/

    /*margin-top: 25px;*/
    /*font-size: 21px;*/
    /*text-align: center;*/

    /*-webkit-animation: top 5s; !* Safari, Chrome and Opera > 12.1 *!*/
    /*animation: fadein 5s;*/
/*}*/

/*@keyframes fadein {*/
    /*from { opacity: 0; }*/
    /*to   { opacity: 1; }*/
/*}*/
nav.back {
    background-color: teal;
}

#login{
    color: orange;
    font-size: 20px;
    font-weight: bold;

}
/*#kraigzlizt{*/
    /*color: orange;*/
    /*font-weight: bold;*/
    /*font-size: 26px;*/
    /*align-items: center;*/

/*}*/
.title-index {
    color: orange;
font-weight: bold;
font-size: 28px;
align-items: center;

}
.title-index:link,
.title-index:visited,
.title-index:hover,
.title-index:active {
    color: orange;
}
#logout{
    color: orange;
    font-size: 20px;
    font-weight: bold;


}
#profile-back {
    background-color: orange;
}

#profile-back-login {
    background-color: orange;
}

#view {
    color: orange;
    font-size: 20px;
    font-weight: bold;

}
.navb{
display: inline-flex;
}
